:root {
    --primary-color: #28a745;
    --secondary-color: #0284d0;
    --start: #333;
    --middle: #28a745;
    --finish: #0284d0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    color: #333;
    width: 1100px;
    margin: 0 auto;
    height: 100vh;
    user-select: none;
}

.container {
    width: 90%;
    margin-top: 30px;
}

/* header and logo */
.title a {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 60px;
    position: relative;
}

.logo {
    width: 100px;
}

/* utilities */
ul { list-style: none; }
a { 
    text-decoration: none;
    color: #fff;
}
h1 a,
.top-btn a {
    color: #333;
}
h1 a:hover { opacity: 0.7; }
.txt-mr20 { margin-top: 20px; }
.txt-hl { color: var(--primary-color); }
.txt-ital { font-style: italic; }
.txt-bold { font-weight: 700; }
.txt-size20 { font-size: 20px; }
.bg-main { color: var(--primary-color); }
.top-btn { text-align: center; }
.hidden { display: none; }
.show { display: block; }

.btn {
    width: 275px;
    height: 77px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    background: #fff;
    color: #333;
    border: 2px solid var(--primary-color);
    border-radius: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.btn:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.6rem;
}

/* navbar */
.navbar ul {
    font-size: 25px;
    height: 65px;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--primary-color);
}

.navbar ul a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .main-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-open,
.menu-close {
    cursor: pointer;
    position: absolute;
    top: 43px;
    right: 15%;
    z-index: 2;
    display: none;
}

/* modal */  
.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 450px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
    opacity: 0.88;
}

.modal-inner {
    font-size: 1.3rem;
    line-height: 1.4;
    width: 290px;
    margin: 50px auto;
    text-align: center;  
}

/* main-accounts sections */
.main-accounts {
    width: 740px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-accounts .main-accounts-left ul,
.main-accounts .main-accounts-right ul {
    margin-top: 10px;
}

.main-accounts .main-accounts-left ul li {
    background: var(--secondary-color);
    color: #fff;
    width: 300px;
    height: 75px;
    margin-bottom: 10px;
    padding: 0 10px;
    border-radius: 8px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-accounts .main-accounts-left ul li p {
    justify-content: space-between;
}

.main-accounts .main-accounts-left ul li:hover,
.main-accounts .main-accounts-left ul li:active,
.main-accounts .main-accounts-left ul li:focus,
.main-accounts .main-accounts-right ul li:hover {
    font-weight: bold;
    background: #fff;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    box-shadow: 2px 2xp 2xp var(--primary-color);
}

.main-accounts .main-accounts-right ul li {
    background: var(--secondary-color);
    color: #fff;
    width: 300px;
    height: 25px;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    background-color: var(--secondary-color);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);   
}

@keyframes loading-one {
    0%   { background: var(--start); width: 0%; }
    100% { background: var(--finish); width: 100%; }
}

@keyframes loading-two {
    0%   { background: var(--start); width: 0%; }
    100% { background: var(--finish); width: 86%; }
}

@keyframes loading-three {
    0%   { background: var(--start); width: 0%; }
    100% { background: var(--finish); width: 75%; }
}

@keyframes loading-four {
    0%   { background: var(--start); width: 0%; }
    100% { background: var(--finish); width: 60%; }
}

@keyframes loading-five {
    0%   { background: var(--start); width: 0%; }
    100% { background: var(--finish); width: 40%; }
}

#rent-exp-el {
    width: 100%;
    animation: loading-one 3s linear;
}

#groc-exp-el {
    width: 86%;
    animation: loading-two 3s linear;
}

#rest-exp-el {
    width: 75%;
    animation: loading-three 3s linear;
}

#trans-exp-el {
    width: 60%;
    animation: loading-four 3s linear;
}

#inter-exp-el {
    width: 40%;
    animation: loading-five 3s linear;
}

/* popup selections */
#transfer-popup {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
    opacity: 0.8;
}

.popup {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    cursor: pointer;
}

.close:hover {
   color: red;
}

.label-title {
    margin-top: 20px;
}

.checkbox {
    margin-top: 15px;
}

.checkbox .popup-top {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.account-options label {
    margin-left: 5px;
}

.input-amount {
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.submit-btn {
    margin-top: 5px;
    padding: 10px;
    width: 100px;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.7;
}